.activity {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  font-size: var(--font-size);
}

.activity__channels {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  margin-right: var(--channels-margin-right);
  position: relative;
}

.activity__channels::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
}

.activity__channel {
  padding-bottom: var(--channel-padding-bottom);
}

.activity__channel-link {
  align-items: center;
  display: flex;
  flex: auto;
  flex-flow: row nowrap;
  overflow: hidden;
}

.activity__channel-avatar {
  height: var(--channel-avatar-size);
  width: var(--channel-avatar-size);
}

.activity__channel-name {
  overflow: hidden;
  padding: var(--channel-name-padding);
  text-overflow: ellipsis;
}

.activity__icon {
  flex: none;
  margin: var(--icon-margin);
}

.activity__channel,
.activity__time {
  margin-right: var(--channel-margin-right);
}

.activity__time {
  white-space: nowrap;
}
