.back-of-book-index__links {
  line-height: var(--line-height);
  margin-bottom: var(--margin-bottom);
  text-align: right;
}

.back-of-book-index__search {
  margin-bottom: var(--margin-bottom);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.back-of-book-index__search-field {
  flex: none;
  width: auto;
}

.back-of-book-index__list {
  margin: var(--list-margin);
}

.back-of-book-index__title {
  font-size: var(--title-font-size);
}

.back-of-book-index__item {
  margin-bottom: var(--item-margin-bottom);
  margin-left: var(--item-margin-left);
}
