.icon {
  display: inline-block;
  height: var(--size-m);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: var(--size-m);
  mask-size: var(--size-m);
  vertical-align: middle;
  width: var(--size-m);
  background: var(--background);
}

.icon:hover {
  transform: scale(1.1);
}

.icon--xs {
  height: var(--size-xs);
  -webkit-mask-size: var(--size-xs);
  mask-size: var(--size-xs);
  width: var(--size-xs);
}

.icon--s {
  height: var(--size-s);
  -webkit-mask-size: var(--size-s);
  mask-size: var(--size-s);
  width: var(--size-s);
}

.icon--l {
  height: var(--size-l);
  -webkit-mask-size: var(--size-l);
  mask-size: var(--size-l);
  width: var(--size-l);
}

.icon--link {
  background-color: var(--link-color);
}

.icon--link:hover {
  background-color: var(--link-hover-color);
}

.icon--link:active {
  background-color: var(--link-active-color);
}

.icon--link:visited {
  background-color: var(--link-visited-color);
}

.icon--link:visited:hover {
  background-color: var(--link-visited-hover-color);
}

.icon--expand {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/chevron-expand.svg");
  mask-image: url("../../../bootstrap-icons/icons/chevron-expand.svg");
}

.icon--article {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/card-text.svg");
  mask-image: url("../../../bootstrap-icons/icons/card-text.svg");
}

.icon--empty {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/inbox.svg");
  mask-image: url("../../../bootstrap-icons/icons/inbox.svg");
}

.icon--close {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/x-lg.svg");
  mask-image: url("../../../bootstrap-icons/icons/x-lg.svg");
}

.icon--success {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/check-lg.svg");
  mask-image: url("../../../bootstrap-icons/icons/check-lg.svg");
}

.icon--rss {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/rss-fill.svg");
  mask-image: url("../../../bootstrap-icons/icons/rss-fill.svg");
}

.icon--link-activity {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/blockquote-left.svg");
  mask-image: url("../../../bootstrap-icons/icons/blockquote-left.svg");
}

.icon--gear {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/gear.svg");
  mask-image: url("../../../node_modules/bootstrap-icons/icons/gear.svg");
}

.icon--question {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/question-circle.svg");
  mask-image: url("../../../node_modules/bootstrap-icons/icons/question-circle.svg");
}

.icon--search {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/search.svg");
  mask-image: url("../../../node_modules/bootstrap-icons/icons/search.svg");
}

.icon--previous {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/arrow-left-short.svg");
  mask-image: url("../../../node_modules/bootstrap-icons/icons/arrow-left-short.svg");
}

.icon--next {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/arrow-right-short.svg");
  mask-image: url("../../../node_modules/bootstrap-icons/icons/arrow-right-short.svg");
}

.icon--clipboard {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/clipboard-plus.svg");
  mask-image: url("../../../node_modules/bootstrap-icons/icons/clipboard-plus.svg");
}

.icon--markdown {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/markdown.svg");
  mask-image: url("../../../node_modules/bootstrap-icons/icons/markdown.svg");
}

.icon--back {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/arrow-left.svg");
  mask-image: url("../../../bootstrap-icons/icons/arrow-left.svg");
}

.icon--profile {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/person-circle.svg");
  mask-image: url("../../../bootstrap-icons/icons/person-circle.svg");
}

.icon--logout {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/box-arrow-left.svg");
  mask-image: url("../../../bootstrap-icons/icons/box-arrow-left.svg");
}

.icon--login {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/box-arrow-in-right.svg");
  mask-image: url("../../../bootstrap-icons/icons/box-arrow-in-right.svg");
}

.icon--register {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/person-circle.svg");
  mask-image: url("../../../bootstrap-icons/icons/person-circle.svg");
}

.icon--pencil {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/pencil.svg");
  mask-image: url("../../../bootstrap-icons/icons/pencil.svg");
}

.icon--plus {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/file-earmark-plus.svg");
  mask-image: url("../../../bootstrap-icons/icons/file-earmark-plus.svg");
}

.icon--tag {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/tag.svg");
  mask-image: url("../../../bootstrap-icons/icons/tag.svg");
}

.icon--channel {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/person-plus.svg");
  mask-image: url("../../../bootstrap-icons/icons/person-plus.svg");
}

.icon--vote {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/star.svg");
  mask-image: url("../../../bootstrap-icons/icons/star.svg");
}

.icon--voted {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/star-fill.svg");
  mask-image: url("../../../bootstrap-icons/icons/star-fill.svg");
}

.icon--cash {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/currency-bitcoin.svg");
  mask-image: url("../../../bootstrap-icons/icons/currency-bitcoin.svg");
}

.icon--reputation {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/reception-2.svg");
  mask-image: url("../../../bootstrap-icons/icons/reception-2.svg");
}

.icon--facebook {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/facebook.svg");
  mask-image: url("../../../bootstrap-icons/icons/facebook.svg");
}

.icon--twitter {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/twitter.svg");
  mask-image: url("../../../bootstrap-icons/icons/twitter.svg");
}

.icon--telegram {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/telegram.svg");
  mask-image: url("../../../bootstrap-icons/icons/telegram.svg");
}

.icon--whatsapp {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/whatsapp.svg");
  mask-image: url("../../../bootstrap-icons/icons/whatsapp.svg");
}

.icon--share {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/share-fill.svg");
  mask-image: url("../../../bootstrap-icons/icons/share-fill.svg");
}

.icon--error {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/exclamation-triangle.svg");
  mask-image: url("../../../bootstrap-icons/icons/exclamation-triangle.svg");
}

.icon--comment {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/chat-right-text.svg");
  mask-image: url("../../../bootstrap-icons/icons/chat-right-text.svg");
}

.icon--new-article {
  -webkit-mask-image: url("../../../bootstrap-icons/icons/plus-square.svg");
  mask-image: url("../../../bootstrap-icons/icons/plus-square.svg");
}
