.article-interactions {
  align-items: center;
  display: flex;
  flex-direction: row nowrap;
}

.article-interactions__item {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.article-interactions__item:not(:first-child) {
  margin-left: var(--item-margin-left);
}
