.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-direction: var(--flex-direction);
  flex-wrap: nowrap;
  font-size: var(--font-size);
  justify-content: center;
  line-height: var(--line-height);
}

.footer__item {
  padding: var(--item-padding);
}
