.fieldset {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.fieldset__full-width {
  flex: 1 0 auto;
}

.fieldset__label {
  font-size: var(--label-font-size);
  line-height: var(--label-line-height);
}
