.channel-memberships__header {
  margin-bottom: var(--header-margin-bottom);
}

.channel-memberships__memberships {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: var(--members-margin-bottom);
}

.channel-memberships__item:not(:last-child) {
  margin-bottom: var(--item-margin-bottom);
}

.channel-memberships__membership,
.channel-memberships__channel {
  display: flex;
  flex-flow: row nowrap;
}

.channel-memberships__channel {
  align-items: center;
  flex: auto;
  font-size: var(--channel-font-size);
}
