.form-field {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  height: var(--height);
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 0 var(--padding-horizontal);
  background: var(--background);
  color: var(--color);
}

.form-field--textarea {
  height: auto;
}

.form-field--checkbox {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  font-size: var(--checkbox-size);
  margin-right: var(--checkbox-margin-right);
}

.form-field--inline {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
