.header__hamburger {
  display: var(--hamburger-display);
  font-size: 0;
  position: relative;
  width: 2rem;
}

.header__hamburger::before {
  border-top: var(--hamburger-border);
  content: "";
  display: block;
  height: 0.68rem;
  transform-origin: 0% 0%;
}

.header__hamburger::after {
  border-bottom: var(--hamburger-border);
  border-top: var(--hamburger-border);
  content: "";
  display: block;
  height: 0.95rem;
  transform-origin: 0% 100%;
}

.header__hamburger::before,
.header__hamburger::after {
  transition:
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    border-color 0.5s cubic-bezier(0, 0.9, 1, 1);
}

.header__hamburger-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header__hamburger-link--close {
  display: none;
}

.header__hamburger-link--open {
  display: block;
}

.header {
  align-items: var(--align-items);
  display: flex;
  flex-flow: var(--flex-flow);
  padding: var(--padding);
  backdrop-filter: var(--backdrop-filter);
  background: var(--background);
  margin: 0 var(--margin-horizontal);
  margin-bottom: var(--margin-bottom);
}

.header:target {
  background: var(--target-background);
}

.header:target .header__hamburger-link--close {
  display: block;
}

.header:target .header__hamburger-link--open {
  display: none;
}

.header:target .header__hamburger::before {
  transform: rotate(45deg);
}

.header:target .header__hamburger::after {
  border-top: 0.3rem solid transparent;
  transform: rotate(-45deg);
}

.header:target .navigation {
  display: flex;
}

.header__logo {
  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--logo-margin-bottom);
}

.header__image {
  height: var(--image-height);
  margin-right: var(--image-margin-right);
}
