.notification {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: var(--margin-bottom);
  padding: var(--padding);
  background: var(--background);
  border-top: var(--border-top);
  color: var(--color);
}

.notification__icon {
  flex-shrink: 0;
  margin-right: var(--icon-margin-right);
  background: var(--icon-background);
}

.notification__info {
  flex: auto;
}

.notification__title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  margin: 0;
}

.notification__description {
  margin: 0;
}

.notification--error {
  background: var(--error-background);
  border-top: var(--error-border-top);
  color: var(--error-color);
}

.notification--error .notification__icon {
  background: var(--error-icon-background);
}
