.link {
  color: var(--color);
  text-decoration: none;
}

.link:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.link:active,
.link--active,
.link:visited.link--active,
.link:visited:hover.link--active {
  color: var(--active-color);
}

.link:visited {
  color: var(--visited-color);
}

.link:visited:hover {
  color: var(--visited-hover-color);
}

.link--nav:visited {
  color: var(--nav-visited-color);
}

.link--nav:visited:hover {
  color: var(--nav-visited-hover-color);
}

.link--plain {
  color: inherit;
}

.link--plain:visited {
  color: inherit;
}
