.article-comment__add {
  align-items: flex-end;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: var(--add-margin-bottom);
}

.article-comment__instructions {
  font-size: var(--instructions-font-size);
}

.article-comment__buttons {
  margin-top: var(--buttons-margin-top);
}
