.transfer-concept-dialog__members {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: var(--members-margin-bottom);
}

.transfer-concept-dialog__item,
.transfer-concept-dialog__membership,
.transfer-concept-dialog__channel {
  display: flex;
  flex-flow: row nowrap;
  flex: auto;
}

.transfer-concept-dialog__item:not(:last-child) {
  margin-bottom: var(--item-margin-bottom);
}

.transfer-concept-dialog__channel {
  align-items: center;
  flex: auto;
  font-size: var(--channel-font-size);
  padding: var(--channel-spacing);
  background: var(--channel-background);
  color: var(--text-color);
}

.transfer-concept-dialog__channel:hover {
  background: var(--channel-background-hover);
  color: var(--text-color);
}

.transfer-concept-dialog__channel:not(:last-child) {
  border-bottom: var(--channel-border);
}
