.channel-navigation__add-article {
  margin-top: var(--add-article-margin-top);
  font-weight: var(--add-article-font-weight) !important;
  font-size: var(--add-article-font-size) !important;
  line-height: var(--add-article-line-height) !important;
}
