.description-list {
  display: grid;
  font-size: var(--font-size);
  grid-auto-columns: min-content auto;
  margin: 0;
}

.description-list__term {
  grid-column: 1;
  align-items: center;
  display: flex;
  font-weight: var(--term-font-weight);
  margin: 0;
  white-space: nowrap;
}

.description-list__description {
  grid-column: 2;
  justify-content: flex-end;
  overflow: hidden;
  text-align: right;
  align-items: center;
  display: flex;
  margin: 0;
  padding-left: var(--description-padding-left);
}

.description-list__term:not(:first-of-type),
.description-list__description:not(:first-of-type) {
  padding-top: var(--item-padding-top);
}

.description-list__term:not(:last-of-type),
.description-list__description:not(:last-of-type) {
  border-bottom: var(--item-border-bottom);
  padding-bottom: var(--item-padding-bottom);
}
