.page {
  width: 100%;
  justify-items: center;
  max-width: var(--max-width);
  min-height: 100vh;
  padding: var(--padding);
  display: grid;
  grid-template: var(--grid-template);
  margin: 0 auto;
  position: relative;
}

.page__header,
.page__aside,
.page__content {
  padding-bottom: var(--item-padding-vertical);
  padding-top: var(--item-padding-vertical);
}

.page__aside,
.page__header,
.page__search,
.page__content,
.page__footer {
  width: 100%;
}

.page__aside,
.page__header {
  padding-left: var(--item-padding-horizontal);
  padding-right: var(--item-padding-horizontal);
}

.page__search {
  grid-area: var(--search-grid-area);
  z-index: 10001;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  top: 0;
  position: var(--search-position);
  padding: var(--search-padding);
}

.page__search:focus-within {
  padding: var(--search-focus-padding);
}

.page__header {
  grid-area: header;
  max-height: 100vh;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.page__aside {
  display: var(--aside-display);
  grid-area: aside;
}

.page__content {
  display: flex;
  flex-direction: column;
  grid-area: content;
}

.page__footer {
  grid-area: footer;
  padding-bottom: var(--footer-padding-vertical);
  padding-top: var(--footer-padding-vertical);
}

.page--full-width {
  grid-template: var(--full-width-grid-template);
}

.page--full-width .page__content {
  max-width: var(--full-width-content-max-width);
  padding-right: var(--full-width-content-padding-right);
}

.page--column .page__content {
  max-width: var(--column-content-max-width);
}

.page--column .page__search {
  max-width: var(--column-content-max-width);
}

.page--form .page__content {
  max-width: var(--form-content-max-width);
}
