.channel-detail-unpublished {
  margin-bottom: var(--margin-bottom);
}

.channel-detail-unpublished__item {
  display: flex;
  flex-flow: row nowrap;
  padding: var(--item-spacing-inner);
  font-size: var(--item-font-size);
  background: var(--item-background);
  border-bottom: var(--item-border);
}

.channel-detail-unpublished__item:hover {
  background: var(--item-background-hover);
}

.channel-detail-unpublished__item:not(:last-child) {
  margin-bottom: var(--item-spacing-outer);
}

.channel-detail-unpublished__link {
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

.channel-detail-unpublished__form {
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
  align-items: center;
}

.channel-detail-unpublished__title {
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: var(--title-spacing);
}

.channel-detail-unpublished__prefix {
  flex: none;
  margin-right: var(--prefix-spacing);
  align-self: center;
  font-weight: bold;
}

.channel-detail-unpublished__icon {
  margin-right: var(--icon-spacing);
}
