.intro {
  display: flex;
  flex-flow: row wrap;
}

.intro__item {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: var(--item-margin-bottom);
  width: 50%;
}

.intro__item:nth-child(odd) {
  padding-right: var(--item-padding-right);
}

.intro__icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  flex: none;
  flex-direction: row;
  height: var(--icon-height);
  justify-content: center;
  width: var(--icon-width);
  background: var(--icon-background);
}

.intro__text {
  margin: 0;
  margin-left: var(--text-margin-left);
}
