:root {
  --zaplog-palette-1-h: 280deg;
  --zaplog-palette-1-s: 5%;
  --zaplog-palette-1-l: 12%;
  --zaplog-palette-2-h: 285deg;
  --zaplog-palette-2-s: 5%;
  --zaplog-palette-2-l: 17%;
  --zaplog-palette-3-h: 290deg;
  --zaplog-palette-3-s: 5%;
  --zaplog-palette-3-l: 24%;
  --zaplog-palette-5-h: 289deg;
  --zaplog-palette-5-s: 5%;
  --zaplog-palette-5-l: 56%;
  --zaplog-palette-6-h: 36deg;
  --zaplog-palette-6-s: 71%;
  --zaplog-palette-6-l: 97%;
  --zaplog-palette-color-1-h: 186deg;
  --zaplog-palette-color-1-s: 70.9%;
  --zaplog-palette-color-1-l: 69%;
  --zaplog-palette-color-2-h: 345deg;
  --zaplog-palette-color-2-s: 100%;
  --zaplog-palette-color-2-l: 69%;
  --zaplog-palette-color-3-h: 250deg;
  --zaplog-palette-color-3-s: 76.6%;
  --zaplog-palette-color-3-l: 78.2%;

  /* warning color */
  --zaplog-palette-color-4-h: 20;
  --zaplog-palette-color-4-s: 96.1%;
  --zaplog-palette-color-4-l: 69.6%;

  /* success color */
  --zaplog-palette-color-5-h: 90;
  --zaplog-palette-color-5-s: 59%;
  --zaplog-palette-color-5-l: 66%;

  /* alternative color */
  --zaplog-palette-color-6-h: 45;
  --zaplog-palette-color-6-s: 100%;
  --zaplog-palette-color-6-l: 70%;
  --zaplog-link-hover-color:
    hsl(
      var(--zaplog-palette-color-1-h)
      var(--zaplog-palette-color-1-s)
      calc(var(--zaplog-palette-color-1-l) + 6%)
    );
  --zaplog-link-active-hover-color:
    hsl(
      var(--zaplog-palette-color-2-h)
      var(--zaplog-palette-color-2-s)
      calc(var(--zaplog-palette-color-2-l) + 6%)
    );
  --zaplog-link-visited-hover-color:
    hsl(
      var(--zaplog-palette-color-3-h)
      var(--zaplog-palette-color-3-s)
      calc(var(--zaplog-palette-color-3-l) + 6%)
    );
  --zaplog-notification-seperator-color:
    hsl(
      var(--zaplog-palette-color-3-h)
      var(--zaplog-palette-color-3-s)
      calc(var(--zaplog-palette-color-3-l) - 12%)
    );
  --zaplog-notification-icon-color:
    hsl(
      var(--zaplog-palette-color-3-h)
      var(--zaplog-palette-color-3-s)
      calc(var(--zaplog-palette-color-3-l) + 40%)
    );
  --zaplog-error-seperator-color:
    hsl(
      var(--zaplog-palette-color-4-h)
      var(--zaplog-palette-color-4-s)
      calc(var(--zaplog-palette-color-4-l) - 12%)
    );
  --zaplog-error-icon-color:
    hsl(
      var(--zaplog-palette-color-4-h)
      var(--zaplog-palette-color-4-s)
      calc(var(--zaplog-palette-color-4-l) - 30%)
    );
  --zaplog-placeholder-image: url("../../../assets/img/fallback-dark.jpg");
  --zaplog-backdrop-background:
    hsl(
      0deg
      100%
      0% / 80%
    );
}
