:root {
  --zaplog-palette-1-h: 0deg;
  --zaplog-palette-1-s: 0%;
  --zaplog-palette-1-l: 100%;
  --zaplog-palette-2-h: 210deg;
  --zaplog-palette-2-s: 16%;
  --zaplog-palette-2-l: 93%;
  --zaplog-palette-3-h: 210deg;
  --zaplog-palette-3-s: 14%;
  --zaplog-palette-3-l: 83%;
  --zaplog-palette-5-h: 289deg;
  --zaplog-palette-5-s: 5%;
  --zaplog-palette-5-l: 56%;
  --zaplog-palette-6-h: 0deg;
  --zaplog-palette-6-s: 0%;
  --zaplog-palette-6-l: 0%;
  --zaplog-palette-color-1-h: 196deg;
  --zaplog-palette-color-1-s: 100%;
  --zaplog-palette-color-1-l: 47.1%;
  --zaplog-palette-color-2-h: 353deg;
  --zaplog-palette-color-2-s: 60%;
  --zaplog-palette-color-2-l: 50%;
  --zaplog-palette-color-3-h: 320deg;
  --zaplog-palette-color-3-s: 96.4%;
  --zaplog-palette-color-3-l: 32.7%;

  /* warning color */
  --zaplog-palette-color-4-h: 30;
  --zaplog-palette-color-4-s: 87.4%;
  --zaplog-palette-color-4-l: 49.4%;

  /* success color */
  --zaplog-palette-color-5-h: 115;
  --zaplog-palette-color-5-s: 62%;
  --zaplog-palette-color-5-l: 71%;

  /* alternative color */
  --zaplog-palette-color-6-h: 45;
  --zaplog-palette-color-6-s: 100%;
  --zaplog-palette-color-6-l: 73%;
  --zaplog-link-hover-color:
    hsl(
      var(--zaplog-palette-color-1-h)
      var(--zaplog-palette-color-1-s)
      calc(var(--zaplog-palette-color-1-l) - 6%)
    );
  --zaplog-link-active-hover-color:
    hsl(
      var(--zaplog-palette-color-2-h)
      var(--zaplog-palette-color-2-s)
      calc(var(--zaplog-palette-color-2-l) - 6%)
    );
  --zaplog-link-visited-hover-color:
    hsl(
      var(--zaplog-palette-color-3-h)
      var(--zaplog-palette-color-3-s)
      calc(var(--zaplog-palette-color-3-l) - 6%)
    );
  --zaplog-notification-seperator-color:
    hsl(
      var(--zaplog-palette-3-h)
      var(--zaplog-palette-3-s)
      calc(var(--zaplog-palette-3-l) - 12%)
    );
  --zaplog-notification-icon-color:
    hsl(
      var(--zaplog-palette-3-h)
      var(--zaplog-palette-3-s)
      calc(var(--zaplog-palette-3-l) - 40%)
    );
  --zaplog-error-seperator-color:
    hsl(
      var(--zaplog-palette-color-4-h)
      var(--zaplog-palette-color-4-s)
      calc(var(--zaplog-palette-color-4-l) - 10%)
    );
  --zaplog-error-icon-color:
    hsl(
      var(--zaplog-palette-color-4-h)
      var(--zaplog-palette-color-4-s)
      calc(var(--zaplog-palette-color-4-l) - 20%)
    );
  --zaplog-placeholder-image: url("../../../assets/img/fallback-light.jpg");
  --zaplog-backdrop-background:
    hsl(
      var(--zaplog-palette-6-h)
      var(--zaplog-palette-6-s)
      var(--zaplog-palette-6-l) / 80%
    );
}
