.markdown {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.markdown a {
  color: var(--link-color);
}

.markdown a:hover {
  color: var(--link-hover-color);
}

.markdown a:active {
  color: var(--link-active-color);
}

.markdown a:visited {
  color: var(--link-visited-color);
}

.markdown a:visited:hover {
  color: var(--link-visited-hover-color);
}

.markdown strong {
  font-weight: var(--strong-font-weight);
}

.markdown em {
  font-style: italic;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre,
.markdown blockquote {
  margin: var(--item-margin);
}

.markdown blockquote {
  font-style: italic;
  margin-left: var(--blockquote-margin-left);
  padding: var(--blockquote-padding);
  border-left: var(--blockquote-border-left);
}

.markdown ul,
.markdown ol {
  padding-left: var(--list-padding-left);
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown h2 {
  font-size: var(--h2-font-size);
}

.markdown h3 {
  font-size: var(--h3-font-size);
}

.markdown h4 {
  font-size: var(--h4-font-size);
}

.markdown h5 {
  font-size: var(--h5-font-size);
}

.markdown h6 {
  color: var(--h6-font-size);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: var(--h-font-weight);
  line-height: var(--h-line-height);
  margin: var(--h-margin);
}

.markdown h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  margin: var(--h1-margin);
}

.markdown pre {
  font-family: var(--pre-font-fanmily);
  font-size: var(--pre-font-size);
  padding: var(--pre-padding);
  white-space: pre-wrap;
  word-break: break-word;
  background: var(--pre-background);
  border: var(--pre-border);
}

.markdown .image {
  max-height: var(--image-max-height);
  object-fit: cover;
}

.markdown__image--clickable {
  cursor: pointer;
}

.markdown iframe {
  aspect-ratio: 16/9;
}

.markdown blockquote p {
  margin: 0;
  padding: var(--blockquote-p-padding);
}

.markdown h1 + p,
.markdown h2 + p,
.markdown h3 + p,
.markdown h4 + p,
.markdown h5 + p,
.markdown h6 + p {
  margin: var(--h-p-margin);
}

.markdown h1:first-child,
.markdown h2:first-child,
.markdown h3:first-child,
.markdown h4:first-child,
.markdown h5:first-child,
.markdown h6:first-child,
.markdown p:first-child,
.markdown ul:first-child,
.markdown ol:first-child,
.markdown dl:first-child,
.markdown table:first-child,
.markdown pre:first-child,
.markdown blockquote:first-child {
  margin-top: 0;
}

.markdown h1:last-child,
.markdown h2:last-child,
.markdown h3:last-child,
.markdown h4:last-child,
.markdown h5:last-child,
.markdown h6:last-child,
.markdown p:last-child,
.markdown ul:last-child,
.markdown ol:last-child,
.markdown dl:last-child,
.markdown table:last-child,
.markdown pre:last-child,
.markdown blockquote:last-child {
  margin-bottom: 0;
}

.markdown ul li,
.markdown ol li {
  margin-bottom: var(--list-item-margin-bottom);
}

.markdown blockquote p:first-child {
  padding-top: 0;
}

.markdown blockquote p:last-child {
  padding-bottom: 0;
}

.markdown table > thead {
  font-weight: var(--thead-font-weight);
}

.markdown table td,
.markdown table th {
  padding: var(--table-cell-padding);
  background: var(--table-cell-background);
  border: var(--table-cell-border);
}

.markdown .image,
.markdown iframe {
  display: block;
  margin: var(--media-margin);
  width: var(--media-width);
}

.markdown p:first-child .image,
.markdown p:first-child iframe {
  margin-top: var(--media-p-first-child-margin-top);
}

.markdown p:last-child .image,
.markdown p:last-child iframe {
  margin-bottom: var(--media-p-last-child-margin-bottom);
}

.markdown .spotify {
  align-self: center;
  height: 152px;
  margin: 0 auto;
  max-width: 640px;
}
