@import url("ubuntu-font.css");

:root {
  --zaplog-palette-1-hsl:
    var(--zaplog-palette-1-h) var(--zaplog-palette-1-s)
    var(--zaplog-palette-1-l);
  --zaplog-palette-2-hsl:
    var(--zaplog-palette-2-h) var(--zaplog-palette-2-s)
    var(--zaplog-palette-2-l);
  --zaplog-palette-3-hsl:
    var(--zaplog-palette-3-h) var(--zaplog-palette-3-s)
    var(--zaplog-palette-3-l);
  --zaplog-palette-5-hsl:
    var(--zaplog-palette-5-h) var(--zaplog-palette-5-s)
    var(--zaplog-palette-5-l);
  --zaplog-palette-6-hsl:
    var(--zaplog-palette-6-h) var(--zaplog-palette-6-s)
    var(--zaplog-palette-6-l);
  --zaplog-palette-color-1-hsl:
    var(--zaplog-palette-color-1-h)
    var(--zaplog-palette-color-1-s) var(--zaplog-palette-color-1-l);
  --zaplog-palette-color-2-hsl:
    var(--zaplog-palette-color-2-h)
    var(--zaplog-palette-color-2-s) var(--zaplog-palette-color-2-l);
  --zaplog-palette-color-3-hsl:
    var(--zaplog-palette-color-3-h)
    var(--zaplog-palette-color-3-s) var(--zaplog-palette-color-3-l);
  --zaplog-palette-color-4-hsl:
    var(--zaplog-palette-color-4-h)
    var(--zaplog-palette-color-4-s) var(--zaplog-palette-color-4-l);
  --zaplog-palette-color-5-hsl:
    var(--zaplog-palette-color-5-h)
    var(--zaplog-palette-color-5-s) var(--zaplog-palette-color-5-l);
  --zaplog-palette-color-6-hsl:
    var(--zaplog-palette-color-6-h)
    var(--zaplog-palette-color-6-s) var(--zaplog-palette-color-6-l);
  --zaplog-palette-1: hsl(var(--zaplog-palette-1-hsl));
  --zaplog-palette-2: hsl(var(--zaplog-palette-2-hsl));
  --zaplog-palette-3: hsl(var(--zaplog-palette-3-hsl));
  --zaplog-palette-5: hsl(var(--zaplog-palette-5-hsl));
  --zaplog-palette-6: hsl(var(--zaplog-palette-6-hsl));
  --zaplog-palette-color-1: hsl(var(--zaplog-palette-color-1-hsl));
  --zaplog-palette-color-2: hsl(var(--zaplog-palette-color-2-hsl));
  --zaplog-palette-color-3: hsl(var(--zaplog-palette-color-3-hsl));
  --zaplog-palette-color-4: hsl(var(--zaplog-palette-color-4-hsl));
  --zaplog-text-color: var(--zaplog-palette-6);
  --zaplog-background-color: var(--zaplog-palette-1);
  --zaplog-text-color-inverted: var(--zaplog-palette-1);
  --zaplog-link-color: var(--zaplog-palette-color-1);
  --zaplog-link-active-color: var(--zaplog-palette-color-2);
  --zaplog-link-visited-color: var(--zaplog-palette-color-3);
  --zaplog-notification-link-color: var(--zaplog-text-color);
  --zaplog-notification-text-color: var(--zaplog-text-color);
  --zaplog-notification-background-color: var(--zaplog-palette-3);
  --zaplog-error-text-color: var(--zaplog-text-color-inverted);
  --zaplog-error-background-color: var(--zaplog-palette-color-4);
  --zaplog-button-warning-color: var(--zaplog-text-color-inverted);
  --zaplog-icon-color: var(--zaplog-text-color);
  --zaplog-screen-xl: calc(var(--zaplog-column-width) * 5);
  --zaplog-screen-xxl: calc(var(--zaplog-column-width) * 6);
  --zaplog-content-width: calc(var(--zaplog-column-width) * 2);
  --zaplog-form-width: calc(var(--zaplog-column-width) * 3);
  --zaplog-spacing-m: var(--zaplog-spacing-base);
  --zaplog-spacing-l:
    calc(
      var(--zaplog-spacing-m) * var(--zaplog-spacing-scale-factor)
    );
  --zaplog-spacing-xl:
    calc(
      var(--zaplog-spacing-l) * var(--zaplog-spacing-scale-factor)
    );
  --zaplog-spacing-s:
    calc(
      var(--zaplog-spacing-m) / var(--zaplog-spacing-scale-factor)
    );
  --zaplog-spacing-xs:
    calc(
      var(--zaplog-spacing-s) / var(--zaplog-spacing-scale-factor)
    );
  --zaplog-icon-size-l:
    calc(
      var(--zaplog-icon-size-base) * var(--zaplog-icon-scale-factor)
    );
  --zaplog-icon-size-m: var(--zaplog-icon-size-base);
  --zaplog-icon-size-s:
    calc(
      var(--zaplog-icon-size-base) / var(--zaplog-icon-scale-factor)
    );
  --zaplog-icon-size-xs:
    calc(
      var(--zaplog-icon-size-s) / var(--zaplog-icon-scale-factor)
    );
  --zaplog-font-size-m: var(--zaplog-font-size-base);
  --zaplog-font-size-l:
    calc(
      var(--zaplog-font-size-m) * var(--zaplog-font-scale-factor)
    );
  --zaplog-font-size-xl:
    calc(
      var(--zaplog-font-size-l) * var(--zaplog-font-scale-factor)
    );
  --zaplog-font-size-xxl:
    calc(
      var(--zaplog-font-size-xl) * var(--zaplog-font-scale-factor)
    );
  --zaplog-font-size-xxxl:
    calc(
      var(--zaplog-font-size-xxl) * var(--zaplog-font-scale-factor)
    );
  --zaplog-font-size-xxxxl:
    calc(
      var(--zaplog-font-size-xxxl) * var(--zaplog-font-scale-factor)
    );
  --zaplog-font-size-s:
    calc(
      var(--zaplog-font-size-m) / var(--zaplog-font-scale-factor)
    );
  --zaplog-font-size-xs:
    calc(
      var(--zaplog-font-size-s) / var(--zaplog-font-scale-factor)
    );
  --zaplog-line-height-m: var(--zaplog-line-height-base);
  --zaplog-line-height-l:
    calc(
      var(--zaplog-line-height-m) * var(--zaplog-font-scale-factor)
    );
  --zaplog-line-height-xl:
    calc(
      var(--zaplog-line-height-l) * var(--zaplog-font-scale-factor)
    );
  --zaplog-line-height-xxl:
    calc(
      var(--zaplog-line-height-xl) * var(--zaplog-font-scale-factor)
    );
  --zaplog-line-height-xxxl:
    calc(
      var(--zaplog-line-height-xxl) * var(--zaplog-font-scale-factor)
    );
  --zaplog-line-height-xxxxl:
    calc(
      var(--zaplog-line-height-xxxl) * var(--zaplog-font-scale-factor)
    );
  --zaplog-line-height-s:
    calc(
      var(--zaplog-line-height-m) / var(--zaplog-font-scale-factor)
    );
  --zaplog-line-height-xs:
    calc(
      var(--zaplog-line-height-s) / var(--zaplog-font-scale-factor)
    );
  --zaplog-font-size-body: var(--zaplog-font-size-m);
  --zaplog-line-height-body: var(--zaplog-line-height-m);
  --zaplog-border-radius-m: var(--zaplog-border-radius-base);
  --zaplog-border-radius-l:
    calc(
      var(--zaplog-border-radius-m) * var(--zaplog-border-radius-scale-factor)
    );
  --zaplog-border-radius-xl:
    calc(
      var(--zaplog-border-radius-l) * var(--zaplog-border-radius-scale-factor)
    );
  --zaplog-header-background: hsl(var(--zaplog-palette-1-hsl) / 70%);

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    --zaplog-header-background: hsl(var(--zapog-palette-1-hsl) / 90%);
  }

  --zaplog-wrapper-inner-padding-horizontal: var(--zaplog-spacing-m);
  --zaplog-wrapper-inner-padding-vertical: var(--zaplog-spacing-m);
  --zaplog-font-family: ubuntu;
  --zaplog-font-family-monospace:
    "SF Mono",
    "Monaco",
    "Inconsolata",
    "Fira Mono",
    "Droid Sans Mono",
    "Source Code Pro",
    monospace;
  --zaplog-column-width: 16em;
  --zaplog-icon-scale-factor: 1.5;
  --zaplog-font-scale-factor: 1.125;
  --zaplog-spacing-scale-factor: 2;
  --zaplog-border-radius-scale-factor: 2;
  --zaplog-spacing-base: 1rem;
  --zaplog-icon-size-base: 1.5rem;
  --zaplog-font-size-base: 1rem;
  --zaplog-line-height-base: 1.5em;
  --zaplog-border-radius-base: 0.3rem;
  --zaplog-font-weight-s: 300;
  --zaplog-font-weight-m: 400;
  --zaplog-font-weight-l: 500;
  --zaplog-font-weight-xl: 700;
  --zaplog-seperator-inner: 1px solid var(--zaplog-palette-3);
  --zaplog-seperator-error: 2px solid var(--zaplog-error-seperator-color);
}

.base {
  --font-family: var(--zaplog-font-family);
  --font-size: var(--zaplog-font-size-m);
  --line-height: var(--zaplog-line-height-m);
  --text-color: var(--zaplog-text-color);
  --selection-background-color: var(--zaplog-link-color);
  --selection-text-color: var(--zaplog-text-color-inverted);
}

.link {
  --color: var(--zaplog-link-color);
  --hover-color: var(--zaplog-link-hover-color);
  --active-color: var(--zaplog-link-active-color);
  --visited-color: var(--zaplog-link-visited-color);
  --visited-hover-color: var(--zaplog-link-visited-hover-color);
  --nav-visited-color: var(--zaplog-link-color);
  --nav-visited-hover-color: var(--zaplog-link-hover-color);
}

.background {
  --background: var(--zaplog-background-color);
}

.icon {
  --size-xs: var(--zaplog-icon-size-xs);
  --size-s: var(--zaplog-icon-size-s);
  --size-m: var(--zaplog-icon-size-m);
  --size-l: var(--zaplog-icon-size-l);
  --background: var(--zaplog-icon-color);
  --link-color: var(--zaplog-link-color);
  --link-hover-color: var(--zaplog-link-hover-color);
  --link-active-color: var(--zaplog-link-active-color);
  --link-visited-color: var(--zaplog-link-visited-color);
  --link-visited-hover-color: var(--zaplog-link-visited-hover-color);
}

.panel {
  --border-radius: var(--zaplog-border-radius-l);
  --padding: var(--zaplog-spacing-s);
  --background: var(--zaplog-palette-2);
  --target-outline: 1px solid var(--zaplog-link-color);
}

.description-list {
  --font-size: var(--zaplog-font-size-xs);
  --term-font-weight: var(--zaplog-font-weight-l);
  --description-padding-left: var(--zaplog-spacing-s);
  --item-padding-top: var(--zaplog-spacing-s);
  --item-border-bottom: var(--zaplog-seperator-inner);
  --item-padding-bottom: var(--zaplog-spacing-s);
}

.fieldset {
  --label-font-size: var(--zaplog-font-size-s);
  --label-line-height: var(--zaplog-line-height-xs);
}

.form-field {
  --font-family: var(--zaplog-font-family);
  --font-size: var(--zaplog-font-size-m);
  --line-height: var(--zaplog-line-height-m);
  --height: var(--zaplog-line-height-xl);
  --border-radius: var(--zaplog-border-radius-m);
  --border: 1px solid var(--zaplog-palette-5);
  --padding-horizontal: var(--zaplog-spacing-s);
  --background: var(--zaplog-palette-3);
  --color: var(--zaplog-input-text-color);
  --checkbox-size: var(--zaplog-font-size-l);
  --checkbox-margin-right: var(--zaplog-spacing-s);
}

.chips {
  --font-size: var(--zaplog-font-size-xs);
  --item-line-height: var(--zaplog-line-height-l);
  --item-border-radius: var(--zaplog-border-radius-m);
  --item-padding-horizontal: var(--zaplog-spacing-xs);
  --item-margin: var(--zaplog-spacing-xs);
  --item-color: var(--zaplog-text-color);
  --item-background: transparent;
  --item-hover-color: var(--zaplog-text-color-inverted);
  --item-hover-background: var(--zaplog-link-hover-color);
  --item-visited-text-color: var(--zaplog-text-color);
  --item-visited-background: transparent;
  --item-visited-hover-color: var(--zaplog-text-color-inverted);
  --item-visited-hover-background: var(--zaplog-link-visited-hover-color);
  --item-active-color: var(--zaplog-text-color);
  --item-active-background: transparent;
}

.button {
  --border-radius: var(--zaplog-border-radius-m);
  --padding-horizontal: var(--zaplog-spacing-s);
  --font-size-m: var(--zaplog-font-size-s);
  --font-weight-m: var(--zaplog-font-weight-l);
  --line-height-m: var(--zaplog-line-height-xxl);
  --font-size-l: var(--zaplog-font-size-l);
  --font-weight-l: var(--zaplog-font-weight-l);
  --line-height-l: var(--zaplog-line-height-xxl);
  --font-size-s: var(--zaplog-font-size-s);
  --font-weight-s: var(--zaplog-font-weight-m);
  --line-height-s: var(--zaplog-line-height-xl);
  --font-size-xs: var(--zaplog-font-size-xs);
  --font-weight-xs: var(--zaplog-font-weight-m);
  --line-height-xs: var(--zaplog-line-height-l);
  --background: var(--zaplog-link-color);
  --color: var(--zaplog-text-color-inverted);
  --active-background: var(--zaplog-link-active-color);
  --active-color: var(--zaplog-text-color-inverted);
  --hover-background: var(--zaplog-link-hover-color);
  --hover-color: var(--zaplog-text-color-inverted);
  --secondary-background: transparent;
  --secondary-color: var(--zaplog-link-color);
  --secondary-hover-background: hsl(var(--zaplog-palette-3-hsl));
  --secondary-hover-color: var(--zaplog-link-hover-color);
  --background-alternative: hsl(var(--zaplog-palette-color-6-hsl));
  --color-alternative: var(--zaplog-text-color);
  --background-alternative-hover: transparent;
  --color-alternative-hover: var(--zaplog-link-hover-color);
  --disabled-background: var(--zaplog-palette-5);
  --disabled-color: var(--zaplog-text-color-inverted);
  --warning-background: var(--zaplog-palette-color-4);
  --warning-color: var(--zaplog-text-color-inverted);
  --warning-hover-background: var(--zaplog-palette-color-4);
  --warning-hover-color: var(--zaplog-text-color-inverted);
  --icon-background: var(--zaplog-text-color-inverted);
  --secondary-icon-background: var(--zaplog-link-color);
  --secondary-inline-icon-background: var(--zaplog-palette-6);
  --inline-secondary-background: var(--zaplog-palette-3);
  --inline-secondary-color: var(--zaplog-input-text-color);
  --inline-secondary-border: 1px solid var(--zaplog-palette-5);
}

.button-row {
  --column-gap: var(--zaplog-spacing-s);
}

.entries {
  --grid-gap: var(--zaplog-spacing-m);
  --grid-template-columns:
    repeat(
      auto-fill,
      minmax(calc(var(--zaplog-column-width) / 1.5), auto)
    );
}

.back-of-book-index {
  --line-height: var(--zaplog-line-height-xxl);
  --margin-bottom: var(--zaplog-spacing-m);
  --title-font-size: var(--zaplog-font-size-xxxl);
  --item-margin-bottom: var(--zaplog-spacing-m);
  --item-margin-left: var(--zaplog-spacing-l);
}

.entry {
  --border-radius: var(--zaplog-border-radius-m);
  --color: var(--zaplog-text-color);
  --visited-color: var(--zaplog-palette-5);
  --image-wrapper-background-image: var(--zaplog-placeholder-image);
  --headline-font-size: var(--zaplog-font-size-l);
  --headline-font-weight: var(--zaplog-font-weight-l);
  --headline-margin: var(--zaplog-spacing-s) 0 0 0;
  --description-margin: var(--zaplog-spacing-s) 0;
  --description-font-size: var(--zaplog-font-size-s);
  --datetime-border-radius: var(--zaplog-border-radius-m);
  --datetime-font-size: var(--zaplog-font-size-xs);
  --datetime-font-weight: var(--zaplog-font-weight-l);
  --datetime-padding: 0 var(--zaplog-spacing-xs);
  --datetime-background: hsla(var(--zaplog-palette-6-hsl, 0.7));
  --datetime-color: var(--zaplog-text-color-inverted);
}

.activities {
  --title-font-size: var(--zaplog-font-size-l);
  --title-font-weight: var(--zaplog-font-weight-l);
  --title-margin-right: var(--zaplog-spacing-s);
  --image-margin-right: var(--zaplog-spacing-s);
  --item-margin: var(--zaplog-spacing-m) 0;
  --link-padding-bottom: var(--zaplog-spacing-s);
  --link-item-margin-bottom: var(--zaplog-spacing-m);
  --panel-padding:
    var(--zaplog-spacing-s) var(--zaplog-spacing-s)
    var(--zaplog-spacing-xs) var(--zaplog-spacing-s);
}

.activity {
  --font-size: var(--zaplog-font-size-xs);
  --channels-margin-right: var(--zaplog-spacing-s);
  --channel-padding-bottom: var(--zaplog-spacing-xs);
  --channel-avatar-size: calc(var(--zaplog-font-size-xxxl));
  --channel-name-padding: 0 var(--zaplog-spacing-s);
  --icon-margin: var(--zaplog-spacing-xs) 0;
  --channel-margin-right: var(--zaplog-spacing-m);
}

.reactions {
  --item-margin-bottom: var(--zaplog-spacing-m);
}

.reaction {
  --headline-font-size: var(--zaplog-font-size-xs);
  --channel-name-margin-right: var(--zaplog-spacing-s);
  --channel-avatar-height: calc(var(--zaplog-font-size-xxxl));
  --channel-avatar-margin-right: var(--zaplog-spacing-s);
  --channel-avatar-width: calc(var(--zaplog-font-size-xxxl));
  --vote-margin-right: var(--zaplog-spacing-s);
  --markdown-font-size: var(--zaplog-font-size-xs);
  --markdown-margin-left: calc(var(--zaplog-font-size-xxxl) / 2);
  --markdown-margin-top: var(--zaplog-spacing-s);
  --markdown-padding:
    0
    calc(var(--zaplog-font-size-xxxl) / 2 + var(--zaplog-spacing-s));
  --markdown-border-left: 1px solid var(--zaplog-palette-3);
  --collapsed-link-color: var(--zaplog-text-color);
}

.pagination {
  --font-size: var(--zaplog-font-size-s);
  --font-weight: var(--zaplog-font-weight-l);
  --margin-top: var(--zaplog-spacing-l);
  --background: var(--zaplog-header-background);
  --margin-horizontal: calc(-1 * var(--zaplog-spacing-s));
}

.notification {
  --margin-bottom: var(--zaplog-spacing-m);
  --padding: var(--zaplog-spacing-s);
  --background: var(--zaplog-notification-background-color);
  --border-top: 2px solid var(--zaplog-notification-seperator-color);
  --color: var(--zaplog-notification-text-color);
  --icon-margin-right: var(--zaplog-spacing-s);
  --icon-background: var(--zaplog-notification-icon-color);
  --title-font-size: var(--zaplog-font-size-l);
  --title-font-weight: var(--zaplog-font-weight-l);
  --error-background: var(--zaplog-error-background-color);
  --error-border-top: var(--zaplog-seperator-error);
  --error-color: var(--zaplog-error-text-color);
  --error-icon-background: var(--zaplog-error-icon-color);
}

.search {
  --input-font-weight: var(--zaplog-font-weight-l);
  --input-font-size: var(--zaplog-font-size-xl);
  --help-font-size: var(--zaplog-font-size-xs);
  --help-icon-margin-right: var(--zaplog-spacing-xs);
  --input-height: 2rem;
}

.vote {
  --count-margin-left: var(--zaplog-spacing-s);
}

.markdown-textarea {
  --clean-background: transparent;
  --clean-padding: var(--zaplog-spacing-xs);
}

.channels {
  --avatar-height: var(--zaplog-line-height-m);
  --avatar-margin-right: var(--zaplog-spacing-xs);
  --avatar-width: var(--zaplog-line-height-m);
}

.bullet-list {
  --font-size: var(--zaplog-font-size-xs);
  --line-height: var(--zaplog-line-height-s);
  --max-width: var(--zaplog-content-width);
  --padding-left: var(--zaplog-spacing-m);
  --item-margin-bottom: var(--zaplog-spacing-s);
}

.page {
  --grid-template-s:
    "header" auto "content" auto "aside" auto "footer" auto /
    100%;
  --grid-template-m:
    "header search" min-content "header content" 1fr
    "footer footer" min-content / minmax(0, 1fr)
    minmax(var(--zaplog-column-width), 4fr);
  --grid-template-l:
    "header search aside" min-content "header content aside"
    1fr "footer footer footer" min-content / minmax(0, 1fr)
    minmax(var(--zaplog-column-width), 3fr)
    minmax(var(--zaplog-column-width), 1fr);
  --max-width: var(--zaplog-screen-xxl);
  --padding: 0 var(--zaplog-spacing-s);
  --grid-template: var(--grid-template-s);
  --full-width-grid-template: var(--grid-template-s);
  --aside-display: none;
  --footer-padding-vertical: var(--zaplog-spacing-m);
  --full-width-content-max-width: var(--zaplog-screen-xl);
  --full-width-padding-right: var(--zaplog-wrapper-inner-padding-horizontal);
  --column-content-max-width: var(--zaplog-content-width);
  --form-content-max-width: var(--zaplog-form-width);
  --search-grid-area: header;
  --to-search-right: var(--zaplog-spacing-s);
  --to-search-top: var(--zaplog-spacing-s);
  --search-position: sticky;
  --search-padding: var(--zaplog-spacing-s) calc(2rem + var(--zaplog-spacing-s));
  --search-focus-padding: var(--search-padding);
}

.page-standalone {
  --grid-template:
    "header" auto "content" auto "footer" auto /
    fit-content(var(--zaplog-content-width));
  --header-margin-top: var(--zaplog-spacing-m);
  --header-padding: var(--zaplog-spacing-s) 0;
  --site-title-font-weight: var(--zaplog-font-weight-xl);
  --site-title-line-height: var(--zaplog-line-height-xs);
  --content-margin-bottom: var(--zaplog-spacing-l);
  --content-margin-top: var(--zaplog-spacing-l);
  --content-max-width: calc(var(--zaplog-column-width) * 2);
  --image-height: calc(var(--zaplog-font-size-xxxl) * 6);
  --site-description-font-size: var(--zaplog-font-size-s);
  --padding: 0 var(--zaplog-spacing-s);
  --footer-margin-bottom: var(--zaplog-spacing-m);
}

.new-article {
  --content-margin-bottom: var(--zaplog-spacing-l);
  --content-margin-top: var(--zaplog-spacing-l);
  --padding: 0 var(--zaplog-spacing-s) var(--zaplog-spacing-s) var(--zaplog-spacing-s);
  --field-margin-bottom: var(--zaplog-spacing-m);
  --link-margin-right: var(--zaplog-spacing-s);
}

.header {
  --hamurger-display: block;
  --hamburger-border: 0.3rem solid var(--zaplog-icon-color);
  --align-items: center;
  --flex-flow: row wrap;
  --padding: var(--zaplog-spacing-s);
  --backdrop-filter: blur(10px);
  --background: var(--zaplog-header-background);
  --target-background: var(--zaplog-background-color);
  --image-height: 2rem;
  --image-margin-right: var(--zaplog-spacing-xs);
  --margin-bottom: var(--zaplog-spacing-s);
  --margin-horizontal: calc(-1 * var(--zaplog-spacing-s));
}

.footer {
  --flex-direction: column;
  --font-size: var(--zaplog-font-size-xs);
  --line-height: var(--zaplog-line-height-l);
  --item-padding: 0 var(--zaplog-spacing-s);
}

.navigation {
  --align-items: center;
  --display: none;
  --padding: var(--zaplog-spacing-s) 0;
  --text-align: center;
  --width: 100%;
  --item-font-size: var(--zaplog-font-size-xl);
  --item-font-weight: var(--zaplog-font-weight-xl);
  --item-line-height: var(--zaplog-line-height-xl);
}

.community-navigation {
  --matrix-link-margin: var(--zaplog-spacing-m) auto 0 auto;
}

.channel-navigation {
  --add-article-font-size: var(--zaplog-font-size-xl);
  --add-article-line-height: var(--zaplog-line-height-xl);
  --add-article-font-weight: var(--zaplog-font-weight-xl);
  --add-article-margin-top: var(--zaplog-spacing-s);
}

.posts {
  --item-margin-bottom: var(--zaplog-spacing-m);
}

.frontpage {
  --item-margin-bottom: var(--zaplog-spacing-m);
}

.article-page {
  --column-gap: var(--zaplog-spacing-l);
  --grid-template-areas:
    "top" "legal" "content" "copyright" "interactions"
    "reactions";
  --row-gap: var(--zaplog-spacing-m);
  --legal-font-size: var(--zaplog-font-size-xs);
}

.article-interactions {
  --item-margin-left: var(--zaplog-spacing-m);
}

.article-comment {
  --add-margin-bottom: var(--zaplog-spacing-m);
  --instructions-font-size: var(--zaplog-font-size-xs);
  --buttons-margin-top: var(--zaplog-spacing-m);
}

.article-share {
  --item-margin-left: var(--zaplog-spacing-s);
}

.article-comment-count {
  --margin-left: var(--zaplog-spacing-s);
}

.article-channel {
  --avatar-height: var(--zaplog-font-size-xxxxl);
  --avatar-margin-right: var(--zaplog-spacing-s);
  --title-font-size: var(--zaplog-font-size-xxxl);
  --title-font-weight: var(--zaplog-font-weight-l);
}

.article-aside {
  --item-margin-bottom: var(--zaplog-spacing-m);
  --item-color: var(--zaplog-palette-5);
  --title-font-size: var(--zaplog-font-size-m);
  --title-font-weight: var(--zaplog-font-weight-l);
  --title-margin-bottom: var(--zaplog-spacing-s);
  --description-font-size: var(--zaplog-font-size-xs);
}

.channel-detail-page {
  --header-margin-bottom: var(--zaplog-spacing-m);
  --tags-margin-bottom: var(--zaplog-spacing-m);
  --new-channel-margin-top: var(--zaplog-spacing-l);
}

.channel-header {
  --image-height: var(--zaplog-font-size-xxxxl);
  --image-margin-right: var(--zaplog-spacing-s);
  --title-font-size: var(--zaplog-font-size-xxxl);
  --title-font-weight: var(--zaplog-font-weight-l);
}

.channel-edit {
  --header-margin-bottom: var(--zaplog-spacing-m);
  --submit-margin-top: var(--zaplog-spacing-m);
}

.channel-members {
  --header-margin-bottom: var(--zaplog-spacing-m);
  --members-margin-bottom: var(--zaplog-spacing-m);
  --item-margin-bottom: var(--zaplog-spacing-s);
  --channel-font-size: var(--zaplog-font-size-xs);
}

.channel-memberships {
  --header-margin-bottom: var(--zaplog-spacing-m);
  --members-margin-bottom: var(--zaplog-spacing-m);
  --item-margin-bottom: var(--zaplog-spacing-s);
  --channel-font-size: var(--zaplog-font-size-xs);
}

.transfer-concept-dialog {
  --members-margin-bottom: var(--zaplog-spacing-m);
  --item-margin-bottom: var(--zaplog-spacing-s);
  --channel-font-size: var(--zaplog-font-size-xs);
  --channel-spacing: var(--zaplog-spacing-s);
  --channel-border: 1px solid var(--zaplog-palette-3);
  --channel-background: var(--zaplog-palette-2);
  --channel-background-hover: var(--zaplog-palette-3);
}

.login {
  --margin-bottom: var(--zaplog-spacing-l);
  --description-font-size: var(--zaplog-font-size-m);
  --description-margin-bottom: var(--zaplog-spacing-m);
  --list-margin-top: var(--zaplog-spacing-l);
  --featured-margin-top: var(--zaplog-spacing-l);
  --featured-title-font-size: var(--zaplog-font-size-xxxxl);
  --featured-title-font-weight: var(--zaplog-font-weight-s);
  --featured-title-margin-bottom: var(--zaplog-spacing-l);
  --featured-title-margin-top: var(--zaplog-spacing-l);
  --featured-icon-margin-left: var(--zaplog-spacing-m);
}

.intro {
  --item-margin-bottom: var(--zaplog-spacing-l);
  --item-padding-right: var(--zaplog-spacing-l);
  --icon-height: calc(var(--zaplog-font-size-xxxl) * 2);
  --icon-width: calc(var(--zaplog-font-size-xxxl) * 2);
  --icon-background: var(--zaplog-palette-2);
  --text-margin-left: var(--zaplog-spacing-s);
}

.new-account {
  --other-account-font-size: var(--zaplog-font-size-xs);
  --markdown-margin-top: var(--zaplog-spacing-m);
  --submit-margin-top: var(--zaplog-spacing-s);
  --submit-item-margin-top: var(--zaplog-spacing-s);
}

.existing-accounts {
  --item-margin-bottom: var(--zaplog-spacing-s);
  --item-border-bottom: var(--zaplog-seperator-inner);
  --text-font-size: var(--zaplog-font-size-s);
  --text-font-weight: var(--zaplog-font-weight-l);
  --text-color: var(--zaplog-text-color);
}

.not-found {
  --title-font-size: var(--zaplog-font-size-xxxxl);
  --title-font-weight: var(--zaplog-font-weight-s);
  --description-margin: var(--zaplog-spacing-m) 0;
}

.markdown {
  --link-color: var(--zaplog-link-color);
  --link-hover-color: var(--zaplog-link-hover-color);
  --link-active-color: var(--zaplog-link-active-color);
  --link-visited-color: var(--zaplog-link-visited-color);
  --link-visited-hover-color: var(--zaplog-link-visited-hover-color);
  --strong-font-weight: var(--zaplog-font-weight-l);
  --blockquote-margin-left: 0;
  --blockquote-padding:
    var(--zaplog-spacing-s) 0 var(--zaplog-spacing-s)
    var(--zaplog-spacing-m);
  --blockquote-border-left: var(--zaplog-palette-3) 1px solid;
  --item-margin: var(--zaplog-spacing-m) 0;
  --list-padding-left: var(--zaplog-spacing-m);
  --h2-font-size: var(--zaplog-font-size-xxl);
  --h3-font-size: var(--zaplog-font-size-xl);
  --h4-font-size: var(--zaplog-font-size-l);
  --h5-font-size: var(--zaplog-font-size-m);
  --h6-font-size: var(--zaplog-font-size-s);
  --h-font-weight: var(--zaplog-font-weight-l);
  --h-line-height: var(--zaplog-line-height-s);
  --h-margin: var(--zaplog-spacing-m) 0 0 0;
  --h1-margin: var(--zaplog-spacing-m) 0;
  --h-p-margin: var(--zaplog-spacing-xs) 0 var(--zaplog-spacing-m) 0;
  --h1-font-size: var(--zaplog-font-size-xxxl);
  --h1-font-weight: var(--zaplog-font-weight-s);
  --pre-font-family: var(--zaplog-monospace-font);
  --pre-font-size: var(--zaplog-font-size-xs);
  --pre-padding: 0 var(--zaplog-spacing-s);
  --pre-background: var(--zaplog-background-panel-color);
  --pre-border: var(--zaplog-seperator-inner);
  --image-max-height: 200vw;
  --list-item-margin-bottom: var(--zaplog-spacing-s);
  --blockquote-p-padding: var(--zaplog-spacing-m) 0;
  --thead-font-weight: var(--zaplog-font-weight-l);
  --table-cell-padding: var(--zaplog-spacing-s);
  --table-cell-background: var(--zaplog-background-panel-color);
  --table-cell-border: var(--zaplog-seperator-inner);
  --media-margin: 0 calc(-1 * var(--zaplog-spacing-s));
  --media-width: calc(100% + var(--zaplog-spacing-s) * 2);
  --media-p-first-child-margin-top: calc(-1 * var(--zaplog-spacing-s));
  --media-p-last-child-margin-bottom: calc(-1 * var(--zaplog-spacing-s));
}

.channel {
  --avatar-height: var(--line-height);
  --avatar-margin-right: var(--zaplog-spacing-xs);
}

.channel-detail-unpublished {
  --margin-bottom: var(--zaplog-spacing-m);
  --item-border: 1px solid var(--zaplog-palette-3);
  --item-spacing-inner: var(--zaplog-spacing-xs);
  --item-spacing-outer: var(--zaplog-spacing-s);
  --title-spacing: var(--zaplog-spacing-xs);
  --item-font-size: var(--zaplog-font-size-xs);
  --prefix-spacing: var(--zaplog-spacing-xs);
  --icon-spacing: var(--zaplog-spacing-xs);
  --item-background: var(--zaplog-palette-2);
  --item-background-hover: var(--zaplog-palette-3);
}

.dialog {
  --border-radius: var(--zaplog-border-radius-l);
  --spacing: 0;
  --header-spacing: var(--zaplog-spacing-s);
  --content-spacing: 0;
  --actions-spacing: var(--zaplog-spacing-s);
  --backdrop-background: var(--zaplog-backdrop-background);
}

@media (min-width: 48em) {
  :root {
    --zaplog-header-background: unset;
    --zaplog-wrapper-inner-padding-horizontal: var(--zaplog-spacing-m);
    --zaplog-wrapper-inner-padding-vertical: var(--zaplog-spacing-m);
  }

  .background {
    --background-masked: var(--zaplog-palette-5);
    --mask-image: url("../../../assets/img/endless-constellation.svg");
    --opacity: 0.15;
  }

  .panel {
    --primary-background: var(--zaplog-background-color);
    --primary-box-shadow: 0 0 3px hsl(var(--zaplog-palette-color-1-hsl) / 20%);
  }

  .page {
    --grid-template: var(--grid-template-m);
    --full-width-grid-template: var(--grid-template-m);
    --padding: 0 var(--zaplog-spacing-m) 0 0;
    --item-padding-vertical: var(--zaplog-wrapper-inner-padding-vertical);
    --item-padding-horizontal: var(--zaplog-wrapper-inner-padding-horizontal);
    --to-search-right: var(--zaplog-spacing-m);
    --to-search-top: var(--zaplog-spacing-m);
    --search-grid-area: search;
    --search-position: static;
    --search-padding: var(--zaplog-wrapper-inner-padding-vertical) 0 0 0;
    --search-focus-padding: var(--search-padding);
  }

  .markdown {
    --image-max-height: 56rem;
  }

  .header {
    --hamburger-display: none;
    --align-items: flex-start;
    --flex-flow: column nowrap;
    --padding: 0;
    --image-height: calc(var(--zaplog-font-size-xxxl) * 3);
    --backdrop-filter: none;
    --logo-margin-bottom: var(--zaplog-spacing-m);
    --margin-bottom: 0;
    --margin-horizontal: 0;
  }

  .navigation {
    --align-items: flex-start;
    --display: flex;
    --padding: 0;
    --text-align: left;
    --width: auto;
    --item-font-size: var(--zaplog-font-size-s);
    --item-line-height: var(--zaplog-line-height-m);
  }

  .channel-navigation {
    --add-article-font-size: var(--zaplog-font-size-s);
    --add-article-line-height: var(--zaplog-line-height-xxl);
    --add-article-margin-top: var(--zaplog-spacing-xs);
  }

  .footer {
    --flex-direction: row;
  }

  .article-page {
    --content-border-radius: var(--zaplog-border-radius-l);
    --content-overflow: hidden;
    --content-padding: var(--zaplog-spacing-s);
    --content-background: var(--zaplog-background-color);
    --content-box-shadow: 0 0 3px hsl(var(--zaplog-palette-color-1-hsl) / 20%);
  }

  .back-of-book-index {
    --list-margin: 0 var(--zaplog-spacing-xl);
  }

  .entry {
    --hover-transform: scale(1.05);
    --hover-background: var(--zaplog-palette-2);
    --hover-image-filter: brightness(85%);
    --hover-image-transform: scale(1.2);
    --text-padding: 0 var(--zaplog-spacing-s);
    --background: var(--zaplog-background-color);
    --box-shadow: 0 0 3px hsl(var(--zaplog-palette-color-1-hsl) / 20%);
  }

  .entries {
    --grid-template-columns:
      repeat(
        auto-fill,
        minmax(calc(var(--zaplog-column-width) / 1.1), auto)
      );
  }

  .pagination {
    --margin-horizontal: 0;
  }

  .search {
    --input-height: var(--zaplog-line-height-xl);
  }
}

@media (min-width: 64em) {
  .page {
    --aside-display: block;
    --grid-template: var(--grid-template-l);
    --full-width-grid-template: var(--grid-template-m);
    --padding: 0;
  }

  .page--full-width {
    --aside-display: none;
    --padding: 0 var(--zaplog-spacing-m) 0 0;
  }
}

@media (min-width: 96em) {
  :root {
    --zaplog-wrapper-inner-padding-horizontal: var(--zaplog-spacing-l);
    --zaplog-wrapper-inner-padding-vertical: var(--zaplog-spacing-l);
    --padding-right: var(--zaplog-spacing-l);
  }

  .page {
    --to-search-right: var(--zaplog-spacing-l);
    --to-search-top: var(--zaplog-spacing-l);
  }
}
