/* ubuntu-300 - latin */
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  src:
    local(""),
    url("../assets/fonts/ubuntu-v19-latin-300.woff2") format("woff2"),
    url("../assets/fonts/ubuntu-v19-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-300italic - latin */
@font-face {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 300;
  src:
    local(""),
    url("../assets/fonts/ubuntu-v19-latin-300italic.woff2") format("woff2"),
    url("../assets/fonts/ubuntu-v19-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-italic - latin */
@font-face {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 400;
  src:
    local(""),
    url("../assets/fonts/ubuntu-v19-latin-italic.woff2") format("woff2"),
    url("../assets/fonts/ubuntu-v19-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-regular - latin */
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("../assets/fonts/ubuntu-v19-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/ubuntu-v19-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-500 - latin */
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  src:
    local(""),
    url("../assets/fonts/ubuntu-v19-latin-500.woff2") format("woff2"),
    url("../assets/fonts/ubuntu-v19-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-500italic - latin */
@font-face {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 500;
  src:
    local(""),
    url("../assets/fonts/ubuntu-v19-latin-500italic.woff2") format("woff2"),
    url("../assets/fonts/ubuntu-v19-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700 - latin */
@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  src:
    local(""),
    url("../assets/fonts/ubuntu-v19-latin-700.woff2") format("woff2"),
    url("../assets/fonts/ubuntu-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-700italic - latin */
@font-face {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: 700;
  src:
    local(""),
    url("../assets/fonts/ubuntu-v19-latin-700italic.woff2") format("woff2"),
    url("../assets/fonts/ubuntu-v19-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
