.existing-accounts__item {
  margin-bottom: var(--item-margin-bottom);
  border-bottom: var(--item-border-bottom);
}

.existing-accounts__button {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.existing-accounts__text {
  flex: auto;
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  text-align: left;
  color: var(--text-color);
}
