.background {
  background: var(--background);
}

.background::before {
  background: var(--background-masked);
  background-attachment: fixed;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  mask-image: var(--mask-image);
  -webkit-mask-image: var(--mask-image);
  opacity: var(--opacity);
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
