.article-aside__item {
  margin-bottom: var(--item-margin-bottom);
  color: var(--item-color);
}

.article-aside__related {
  display: block;
  font-size: var(--item-font-size);
}

.article-aside__title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  margin-bottom: var(--title-margin-bottom);
}

.article-aside__description {
  font-size: var(--description-font-size);
}
