.base {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
}

.base::selection {
  background-color: var(--selection-background-color);
  color: var(--selection-text-color);
}
