.not-found {
  text-align: center;
}

.not-found__title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
}

.not-found__description {
  margin: var(--description-margin);
}
