.pagination {
  bottom: 0;
  display: flex;
  flex-direction: row;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin: 0 var(--margin-horizontal);
  margin-top: var(--margin-top);
  position: sticky;
  z-index: 1001;
  backdrop-filter: blur(10px);
  background: var(--background);
}

.pagination__item {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: right;
}

.pagination__right {
  justify-content: flex-end;
}

.pagination__center {
  flex: auto;
  justify-content: center;
  text-align: center;
}

.pagination__paginate {
  display: flex;
  flex-flow: row nowrap;
}
