.button {
  align-items: center;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-m);
  line-height: var(--line-height-m);
  padding: 0 var(--padding-horizontal);
  white-space: nowrap;
  background: var(--background);
  color: var(--color);
  text-decoration: none;
}

.button__form-field,
.button__label {
  cursor: pointer;
}

.button--active {
  background: var(--active-background);
  color: var(--active-color);
}

.button--alternative {
  background: var(--background-alternative);
  color: var(--color-alternative);
}

.button--l {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-l);
}

.button--s {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-s);
  line-height: var(--line-height-s);
}

.button--xs {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  line-height: var(--line-height-xs);
}

.button--inline {
  border-radius: 0;
}

.button--inline-last {
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.button--inline-block {
  display: inline-block;
}

.button:disabled {
  cursor: not-allowed;
  background: var(--disabled-background);
  color: var(--disabled-color);
}

@keyframes button-rejected {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10%);
  }

  75% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }
}

.button--rejected {
  animation-delay: 0s;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-name: button-rejected;
  animation-timing-function: ease-in-out;
}

.button__icon {
  background: var(--icon-background);
  margin-right: var(--item-padding-horizontal);
}

.button:hover {
  color: var(--hover-color);
  background: var(--hover-background);
  text-decoration: none;
}

.button--secondary {
  background: var(--secondary-background);
  color: var(--secondary-color);
}

.button--unstyled {
  padding: 0;
}

.button--unstyled,
.button--unstyled:hover {
  background: transparent;
  color: initial;
}

.button--secondary .button__icon {
  background: var(--secondary-icon-background);
}

.button--secondary:hover {
  background: var(--secondary-hover-background);
  color: var(--secondary-hover-color);
}

.button--secondary-inline {
  background: var(--inline-secondary-background);
  color: var(--inline-secondary-color);
  border-top: var(--inline-secondary-border);
  border-bottom: var(--inline-secondary-border);
}

.button--secondary-inline .button__icon {
  background: var(--secondary-inline-icon-background);
}

.button--secondary-inline:last-of-type {
  border-right: var(--inline-secondary-border);
}

.button--warning {
  background: var(--warning-background);
  color: var(--warning-color);
}

.button--warning:hover {
  background: var(--warning-hover-background);
  color: var(--warning-hover-color);
}
