.entries {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: var(--grid-template-columns);
}

.entries__item,
.entries__article {
  display: flex;
  flex-flow: row nowrap;
  flex: auto;
}
