zaplog-markdown-textarea {
  padding: var(--padding);
  justify-content: center;
}

zaplog-markdown-textarea .markdown-textarea {
  width: var(--zaplog-content-width);
  resize: horizontal;
  overflow: auto;
  flex: 0 0 auto;
  max-width: 100%;
}
