.new-article {
  display: grid;
  align-content: top;
  grid-template: min-content auto / auto;
  justify-content: stretch;
  min-height: 100vh;
  background: var(--zaplog-palette-1);
}

.new-article__header {
  display: flex;
  flex-direction: column;
}

.new-article__header-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding);
  margin-top: var(--zaplog-spacing-s);
  overflow: auto;
}

.new-article__content {
  margin-top: var(--zaplog-spacing-s);
  overflow: auto;
}

.new-article__header-column {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.new-article__header-row {
  display: flex;
  flex-direction: row;
}

.new-article__header-row:not(:first-child) {
  padding-top: var(--zaplog-spacing-s);
}

.new-article__button-row {
  align-items: center;
}

.new-article__header-image-wrapper {
  height: calc(var(--zaplog-font-size-l) * 3.8);
  padding-right: var(--zaplog-spacing-s);
}

.new-article__header-image {
  height: 100%;
}

.new-article__slot {
  padding-right: var(--zaplog-spacing-s);
  display: flex;
  flex-direction: row;
  column-gap: var(--zaplog-spacing-s);
}

.new-article__link:not(:last-child) {
  margin-right: var(--link-margin-right);
}

.new-article__form {
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
}

.new-article__markdown {
  height: 100%;
  margin-bottom: 0;
  min-width: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.new-article__textarea {
  padding: var(--zaplog-spacing-s) var(--zaplog-spacing-l);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
}

.new-article__textarea:focus {
  outline: none;
}

.new-article__membersonly {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.new-article__copyright-check-fieldset {
  padding: 0 var(--zaplog-spacing-s);
}
