.login__description {
  font-size: var(--font-size);
  margin-bottom: var(--margin-bottom);
  margin-top: 0;
  text-align: center;
}

.login__list {
  margin-top: var(--list-margin-top);
}

.login__featured {
  margin-top: var(--featured-margin-top);
}

.login__featured-title {
  font-size: var(--featured-title-font-size);
  font-weight: var(--featured-title-font-weight);
  margin-bottom: var(--featured-title-margin-bottom);
  margin-top: var(--featured-title-margin-top);
  text-align: center;
}

.login__featured-icon {
  margin-left: var(--featured-icon-margin-left);
}

.login__submit-new,
.login__submit-existing {
  margin-top: var(--submit-item-margin-top);
}
