.chips {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: var(--font-size);
}

.chips__item {
  display: flex;
  align-items: center;
  line-height: var(--item-line-height);
  border-radius: var(--item-border-radius);
  padding: 0 var(--item-padding-horizontal);
  white-space: nowrap;
  background: var(--item-background);
  color: var(--item-color);
}

.chips__item,
.chips__more {
  margin: var(--item-margin);
}

.chips__item:visited {
  background: var(--item-visited-background);
  color: var(--item-visited-text-color);
}

.chips__item:active {
  background: var(--item-active-background);
  color: var(--item-active-text-color);
}

.chips__item:hover {
  text-decoration: none;
  background: var(--item-hover-background);
  color: var(--item-hover-color);
}

.chips__item:hover .chips__icon {
  background-color: var(--item-hover-color);
}

.chips__item:visited:hover {
  background: var(--item-visited-hover-background);
  color: var(--item-visited-hover-color);
}
