.channel-members__header {
  margin-bottom: var(--header-margin-bottom);
}

.channel-members__members {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: var(--members-margin-bottom);
}

.channel-members__item:not(:last-child) {
  margin-bottom: var(--item-margin-bottom);
}

.channel-members__member,
.channel-members__channel {
  display: flex;
  flex-flow: row nowrap;
}

.channel-members__channel {
  align-items: center;
  flex: auto;
  font-size: var(--channel-font-size);
}
