.article-share {
  flex: auto;
  justify-content: flex-end;
}

.article-share__item {
  margin-left: var(--item-margin-left);
}

.article-share__hidden-text-field {
  border: 0;
  font-size: 0;
  height: 0.1px;
  margin: 0;
  padding: 0;
  resize: none;
  width: 0.1px;
}
