.page-standalone {
  display: grid;
  align-content: center;
  grid-template: var(--grid-template);
  justify-content: center;
  min-height: 100vh;
  padding: var(--padding);
}

.page-standalone__header {
  position: static;
  margin-top: var(--header-margin-top);
  padding: var(--header-padding);
}

.page-standalone__site-title {
  font-size: 4rem;
  font-weight: var(--site-title-font-weight);
  line-height: var(--site-title-line-height);
  text-decoration: none;
  white-space: nowrap;
}

.page-standalone__header,
.page-standalone__footer {
  text-align: center;
}

.page-standalone__content {
  margin-bottom: var(--content-margin-bottom);
  margin-top: var(--content-margin-top);
  max-width: var(--content-max-width);
  padding: 0;
}

.page-standalone__image {
  height: var(--image-height);
}

.page-standalone__site-description {
  font-size: var(--site-description-font-size);
  white-space: nowrap;
}

.page-standalone__footer {
  margin-bottom: var(--footer-margin-bottom);
}
