.reaction {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.reaction__data {
  width: 100%;
}

.reaction__headline {
  font-size: var(--headline-font-size);
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.reaction__channel-link {
  align-items: center;
  display: flex;
  flex: auto;
  flex-flow: row nowrap;
  overflow: hidden;
}

.reaction__channel-name,
.reaction__time,
.reaction__link {
  margin-right: var(--channel-name-margin-right);
  white-space: nowrap;
}

.reaction__channel-name {
  flex: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reaction__channel-avatar {
  height: calc(var(--channel-avatar-height));
  margin-right: var(--channel-avatar-margin-right);
  width: calc(var(--channel-avatar-width));
}

.reaction__vote {
  margin-right: var(--vote-margin-right);
}

.reaction__markdown {
  font-size: var(--markdown-font-size);
  margin-left: var(--markdown-margin-left);
  margin-top: var(--markdown-margin-top);
  padding: var(--markdown-padding);
  border-left: var(--markdown-border-left);
}

.reaction__expand {
  display: none;
}

.reaction--collapsed:not(:target) .reaction__expand {
  display: inline-block;
}

.reaction--collapsed:not(:target) .reaction__id {
  display: none;
}

.reaction--collapsed:not(:target) .reaction__markdown {
  display: none;
}

.reaction--collapsed:not(:target) .reaction__channel-link,
.reaction--collapsed:not(:target) .reaction__vote {
  pointer-events: none;
  cursor: default;
  color: var(--collapsed-link-color);
}

.reaction--collapsed:not(:target) .reaction__vote {
  opacity: 0.5;
  filter: grayscale(1);
}
