.channel-header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.channel-header__image {
  height: var(--image-height);
  margin-right: var(--image-margin-right);
}

.channel-header__title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
}
