.article-page {
  column-gap: var(--column-gap);
  display: grid;
  grid-template-areas: var(--grid-template-areas);
  row-gap: var(--row-gap);
}

.article-page__top {
  grid-area: top;
}

.article-page__legal {
  grid-area: legal;
}

.article-page__content {
  border-radius: var(--content-border-radius);
  grid-area: content;
  overflow: var(--content-overflow);
  padding: var(--content-padding);
  word-break: break-word;
  background: var(--content-background);
  box-shadow: var(--content-box-shadow);
}

.article-page__copyright {
  grid-area: copyright;
}

.article-page__interactions {
  grid-area: interactions;
}

.article-page__reactions {
  grid-area: reactions;
}

.article-page__legal,
.article-page__copyright {
  font-size: var(--legal-font-size);
  font-style: italic;
}
