.entry {
  border-radius: var(--border-radius);
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  overflow: hidden;
  position: relative;
  color: var(--color);
  text-decoration: none;
  transition: 500ms;
  transition-property: transform;
  background: var(--background);
  box-shadow: var(--box-shadow);
}

.entry:hover {
  transform: var(--hover-transform);
  background: var(--hover-background);
}

.entry:visited {
  color: var(--visited-color);
}

.entry__image-wrapper {
  align-items: flex-end;
  aspect-ratio: 16/9;
  background-size: cover;
  display: flex;
  overflow: hidden;
  background-image: var(--image-wrapper-background-image);
}

.entry__image {
  aspect-ratio: 16/9;
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: 500ms;
  transition-property: transform;
}

.entry:hover .entry__image {
  filter: var(--hover-image-filter);
  transform: var(--hover-image-transform);
  transition: 2000ms;
}

.entry__text {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: var(--text-padding);
  transition: 200ms;
}

.entry__headline {
  font-size: var(--headline-font-size);
  font-weight: var(--headline-font-weight);
  margin: var(--headline-margin);
  word-break: break-word;
}

.entry__description {
  word-break: break-word;
  font-size: var(--description-font-size);
  margin: var(--description-margin);
}

.entry__datetime {
  border-radius: var(--datetime-border-radius);
  font-size: var(--datetime-font-size);
  font-weight: var(--datetime-font-weight);
  left: 0;
  padding: var(--datetime-padding);
  position: absolute;
  top: 0;
  white-space: nowrap;
  z-index: 1;
  background: var(--datetime-background);
  color: var(--datetime-color);
}
