.bullet-list {
  display: block;
  font-size: var(--font-size);
  line-height: var(--line-height);
  list-style-type: disc;
  margin: 0 auto;
  max-width: var(--max-width);
  padding-left: var(--padding-left);
  text-align: left;
}

.bullet-list__item:not(:last-child) {
  margin-bottom: var(--item-margin-bottom);
}
