.search {
  pointer-events: auto;
  width: 100%;
}

.search__input {
  font-weight: var(--input-font-weight);
  width: auto;
  outline: none;
}

.search__input::-webkit-search-decoration,
.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-results-button,
.search__input::-webkit-search-results-decoration {
  display: none;
}

.search__input,
.search__button {
  font-size: var(--input-font-size);
  height: var(--input-height);
}

.search__help {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: var(--help-font-size);
  justify-content: flex-end;
}

.search__help-icon {
  margin-right: var(--help-icon-margin-right);
}
