.activities__title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  margin-right: var(--title-margin-right);
}

.activities__concept {
  display: inline-block;
}

.activities__image {
  flex: none;
  margin-right: var(--image-margin-right);
  position: relative;
}

.activities__image::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.activities__link {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: var(--link-padding-bottom);
  position: relative;
}

.activities__link-item {
  margin-bottom: var(--link-item-margin-bottom);
}

.activities__panel {
  padding: var(--panel-padding);
}
