.new-account__other-account {
  font-size: var(--other-account-font-size);
  margin: 0;
}

.new-account__markdown {
  margin-top: var(--markdown-margin-top);
}

.new-account__submit {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: var(--submit-margin-top);
}

.new-account__submit-new,
.new-account__submit-existing {
  margin-top: var(--submit-item-margin-top);
}
