.panel {
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: var(--padding);
  width: 100%;
  background: var(--background);
}

.panel:target {
  outline: var(--target-outline);
}

.panel--primary {
  background: var(--primary-background);
  box-shadow: var(--primary-box-shadow);
}
