.navigation {
  align-items: var(--align-items);
  display: var(--display);
  flex: auto;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: var(--padding);
  text-align: var(--text-align);
  width: var(--width);
}

.navigation__item {
  white-space: nowrap;
  font-size: var(--item-font-size);
  font-weight: var(--item-font-weight);
  line-height: var(--item-line-height);
}
