.dialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-items: center;
  content: "";
  z-index: 20000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--backdrop-background);
}

.dialog__container {
  flex: auto;
  border: 0;
  border-radius: var(--border-radius);
  padding: var(--spacing);
  background: var(--background);
  color: var(--text-color);
}

.dialog__header {
  padding: var(--header-spacing);
}

.dialog__content {
  padding: var(--content-spacing);
}

.dialog__actions {
  padding: var(--actions-spacing);
}
